/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

/**/

body {
	background-color: white;
	font-family:'Roboto', sans-serif;
	font-size: 10px;
}
header {
	width: 100%;
	padding-bottom: 1%;

}

header img {
	margin-top: 3%;
	margin-bottom: 1.5%;
	position: center;
	width: 30%;
	height: 30%;
}
/**/
nav {
	position: relative;
	background: #F28500;
	float: left;
	width: 100%;
}
nav > ul {
	text-align:center;
	margin-left: 12%;
}
li.current_page {
    display: block;
    padding: 15px 25px;
    color: #fdf6ee;
    text-decoration: none;
    font-size: 1.8em;
}
nav ul li {
	float: left;
	display: inline;
	margin-left: 2.5%;
	margin-right: 3%;
	font-size: 1.4em;
}

nav ul li:hover {
	background: #ffdfcb;
}
nav ul li a {
	display:block;
	padding:15px 25px;
	color: #fdf6ee;
	text-decoration: none;
	font-size: 1.4em;
}
nav ul li ul {
	position:absolute;
	width: 200px;
	background:#FFF;
	border-left: 3px dotted black;
	border-right: 3px dotted black;
	border-bottom: 3px dotted black;
	box-shadow: 5px 5px 2px #888888;
}
nav ul li ul li {
	width: 100%;
/*    word-wrap: break-word;*/
    font-size: 1.4em;
    margin: 0;
}
nav ul li ul li a {
	display: block;
	padding:15px 18%;
	color: #444;
	text-decoration: none;
	width: 100%;
	text-align: left;
	font-size: 1em;
	background-color: #FFF;
	border-top: none;
	border-bottom: none;
}

nav ul li ul li:hover a {
	background: #ffdfcb;
	text-decoration: none;
}
nav ul li ul.fallback {
	display: none;
}
nav ul li:hover ul.fallback {
	display: block;
}

.not-active {
   pointer-events: none;
   cursor: default;
}
/*header,
.main-nav-scrolled {
  position: fixed;
  width: 100%;
  top: 0;
}*/
#button_js {
	margin-left: 2%;
  margin-top: 4%;
  height:7%;
}

aside {
	margin-top: 5%;
	margin-left: 3%;
  width: 12%;
  height:50px;
  color:white;
  text-decoration: none;
  box-shadow: 2px black;
}


a.button_links {
	display: block;
	color: black;
	text-decoration: none;
	font-size: 2.8em;
	background-color: teal;
	margin-top: 3%;
	margin-bottom: 15%;
	margin-left: 10%;
	padding-left: 10%;
	text-align: left;	
	border-radius: 3px;
	color: #fdf6ee;
	padding-top: 5%;
	padding-bottom: 5%;
}

/*a.button_links:first-of-type {
	margin-top: 50%;
}*/

aside.fixed {
  position:fixed;
  margin-top: -17%;
	margin-left: 3%;
  width: 12%;
  height:50px;
  color:white;
  text-decoration: none;
  box-shadow: 2px black;
}
  /*top: 0%;
  right:0px;
  left: 2%;

}*/

/*#button_js {
  height:25%;
  width: 15%;
  padding:10px;
  background-color: green;
  color:white;
  margin-left: 3%;
  margin-top: 10%;
}*/

/*aside.fixed {
  position:fixed;
  top:0px;
  right:0px;
  left:0px;
  z-index:999;
}*/

}

/*h1 {
	text-align: center;
	font-weight: 500;
	font-size: 6em;
	padding: 4% 0%;
	letter-spacing: 3px;
	font-family: 'Cardo', serif;
	padding-bottom: 3%;
}*/


/*	text-decoration: none;
	color: #fdf6ee;
}
*/
/*a:hover {
	color: #F25D00;
}*/

div.buttons {
	
    margin-left: 7%;
    margin-top: 6%;
    margin-bottom: 10%;
    display: block;
    float: left;
    position: fixed;

  
}

.individualButton {
	width: 150%;
	padding: 5% 1%;
}


.buttons a {
	font-size: 2.8em;
	border-radius: 8px;
	border: 1px solid #01B6AD;
	background-color: #01B6AD;
	padding: 10% 0%;
	margin: 25% 4%;
	text-align: center;
	color: #fdf6ee;
	display: block;
	text-decoration: none;
	/*box-shadow: 5px 5px 1px #888888;*/
}
.buttons a:hover {
	box-shadow: none;
	border: 1px solid #388E8E;
}
.buttons a:active {
	background-color: #388E8E;
	border: 1px solid #388E8E;
}



.home p {
	font-family: "helvetica";
	display: block;
	font-size: 1.8em;
	font-weight: 300;
	color: black;
	width: 65%;
	margin-left: 21.5%;
	margin-right: auto;
	margin-top: 0%;
	letter-spacing: 1px;
	line-height: 145%;
	text-align: left;
	padding-bottom: 3%;
	padding-top: 3%;
}

.home p:first-of-type:first-letter {
  float: left;
  font-size: 3.5em;
  /*line-height: 15%;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;*/
  font-weight: 500;
  margin-top: 1.7%;
  letter-spacing: 7px;
}
img {
	margin-left: 35%;

}

.homePicture {
	margin-left: 35%;
	border-radius: 3px;
	border: 5px solid gray;

}

.historyPicture {
	border-radius: 3px;
	border: 5px solid gray;
	margin-left: 24%;
}

.historyPicture2 {
	border-radius: 3px;
	border: 5px solid gray;
	margin-left: 24%;
	width: 342px;
	height: 340px;
}

.visionPicture {
	border-radius: 3px;
	border: 5px solid gray;
	margin-left: 33%;
	width: 440px;
	height: 280px;
	margin-bottom: 3%;
}

.boardofdirectors {
	margin-left: 32%; 
	border-radius: 3px;
	border: 5px solid gray;
	width: 440px;
	height: 280px;
	margin-top: 3%;
	margin-bottom : 3%;
}
footer {
	background-color: #F28500;
	width: 100%;
	position: absolute;
	margin-top: 4%;
}


footer h5 {
	display: inline;
	color: #fdf6ee;
	margin-right: 45%;
	margin-left: 25%;
	padding-top: 2%;
	font-size: 2em;
	font-weight: 500;
	letter-spacing: 2px;
	margin-bottom: 2%;
	width: 25%;
	float: left;
}
footer p {
	display: block;
	color: #fdf6ee;
	margin-top: 1%;
	font-size: 1.4em;
	margin-left: 25%;
	letter-spacing: 2px;
	width: 25%;

}

object {
	display: inline;
	float: right;
    margin-right: 25%;
    margin-top: -14%;
}

.last_p {
	padding-bottom: 3%;
}

.about {
	margin-top: 0%;
	padding-bottom: 5%;
		
}
.about h2 {
	padding-top: 1.8%;
	/*padding-bottom: 3%;*/
	text-align: center;
	font-size: 4.2em;
	letter-spacing: 1px;
	font-weight: 300;
}

.aboutparagraphs {
		font-family: "helvetica";
		font-size: 1.8em;
		font-weight: 300;
		width: 65%;
		margin-left: 21.5%;
		margin-right: auto;
		margin-top: 0%;
		letter-spacing: 1px;
		line-height: 145%;
		text-align: left;
		padding-bottom: 3%;
		padding-top: 3%;
}
.aboutparagraphs:first-of-type:first-letter {
  float: left;
  font-size: 3.5em;
  font-weight: 500;
  margin-top: 1.9%;
  letter-spacing: 7px;
}
#show-this-on-click {
	font-family: "helvetica";
	font-size: 1.8em;
	font-weight: 300;
	width: 65%;
	margin-left: 21.5%;
	margin-right: auto;
	margin-top: 0%;
	letter-spacing: 1px;
	line-height: 145%;
	text-align: left;
	padding-bottom: 3%;

	

}

.br_showmore {
   display: block;
   margin: 3% 0;
   content: " ";
}

.space {
	margin-top: 3%;
	margin-bottom: 3%;
}

.first_last {
	padding-bottom: 0%;
}

.readmore a, .readless a {
	font-size: 1em;
	margin-left: 80%;
	font-weight: bold;
	letter-spacing: 0px;
	color: black;

}

.hide {
  display: none;
}

.readless {
  display: none;
}


.about h4 {
	padding-top: 5%;
	/*padding-bottom: 3%;*/
	text-align: center;
	font-size: 4.2em;
	letter-spacing: 1px;
	font-weight: 300;
}


.about_ul li {
	font-family: "helvetica";
	text-align: left;
	margin-left: 21.5%;
	margin-right: auto;
	margin-top: 0%;
	width: 65%;
	font-size: 1.8em;
	font-weight: 300;
	letter-spacing: 1px;
	padding-bottom: 3%;
	color: black;
	display: block;
	list-style-type: circle;
	line-height: 145%;
}
.about_ul li:first-of-type {
	padding-top: 3%;
}

.about_ol li {
	margin-left: 21.5%;
	text-align: left;
	margin-right: auto;
	width: 65%;
	font-size: 1.8em;
	font-weight: 300;
	letter-spacing: 1px;
	padding-bottom: 3%;
	color: black;
	display: block;
	line-height: 145%;
}
.about_ol li:first-of-type {
	padding-top: 3%;
}
.education {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	font-size: 1.8em;
	font-weight: 300;
	letter-spacing: 2px;
	padding-bottom: 3%;
}
.education h2 {
	padding-top: 5%;
	/*padding-bottom: 3%;*/
	text-align: center;
	font-size: 2.6em;
	letter-spacing: 1px;
	font-weight: 300;
}

.education h3 {
	padding-top: 2%;
	text-align: center;
	font-size: 1.6em;
	letter-spacing: 1px;
	font-weight: 500;
}
.education li {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	font-size: 1.0em;
	font-weight: 300;
	letter-spacing: 2px;
	padding-bottom: 3%;
	color: black;
	display: block;
	list-style-type: circle;
}

.education p {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	font-size: 1.0em;
	font-weight: 300;
	letter-spacing: 2px;
	padding-bottom: 3%;
	color: black;
	display: block;
	list-style-type: circle;
}
.aboutvision {
		font-family: "helvetica";
		font-size: 2em;
		font-weight: 500;
		font-style: italic;
		width: 65%;
		margin-left: 21.5%;
		margin-right: auto;
		margin-top: 0%;
		letter-spacing: 1px;
		line-height: 145%;
		text-align: left;
		
		padding-top: 3%;
}

.board_ul {
	margin-bottom: 3%;
}

.directors h2 {
	padding-top: 1.8%;
	/*padding-bottom: 3%;*/
	text-align: center;
	font-size: 4.2em;
	letter-spacing: 1px;
	font-weight: 300;

}
.directors p {
	font-family: "helvetica";
	text-align: center;
	margin-left: 20%;
	margin-right: auto;
	margin-top: 0%;
	width: 60%;
	font-size: 1.8em;
	font-weight: 500;
	letter-spacing: 1px;
	padding-bottom: 3%;
	color: black;
	display: block;
	list-style-type: circle;
	line-height: 145%;
}

.staff h2, h3 {
	padding-top: 1.8%;
	text-align: center;
	font-size: 4.2em;
	letter-spacing: 1px;
	font-weight: 300;
}

.staff p, .staffmembers {
	font-family: "helvetica";
	text-align: left;
	margin-left: 20%;
	margin-right: auto;
	margin-top: 3%;
	width: 65%;
	font-size: 1.8em;
	font-weight: 300;
	letter-spacing: 1px;
	padding-bottom: 3%;
	color: black;
	display: block;
	/*list-style-type: circle;*/
	line-height: 145%;
}

.staffmembers li {
	padding: 1% 0%;
}

