/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**/

body {
	background-color: white;
	font-family:'Roboto', sans-serif;
	font-size: 10px;
}
header {
	width: 100%;
	padding-bottom: 1%;

}

header img {
	margin-top: 3%;
	margin-bottom: 1.5%;
	position: center;
	width: 30%;
	height: 30%;
}

/*h1 {
	text-align: center;
	font-weight: 500;
	font-size: 6em;
	padding: 4% 0%;
	letter-spacing: 3px;
	font-family: 'Cardo', serif;
	padding-bottom: 3%;
}*/

nav {
	background-color: #F28500;
	width: 100%;
	padding-bottom: 1.3%;
	border-top: 2px solid #fdf6ee;

}

nav ul {
	padding-top: 1.25%;
	margin-left: 10%;
	margin-right: 10%;
	
}
li {
	display: inline;
	margin-left: 7%;
	font-size: 2em;
	color: #fdf6ee;
	font-weight: 200;
	letter-spacing: 1px;
	
}

a {
	text-decoration: none;
	color: #fdf6ee;
}

a:hover {
	color: #F25D00;
}

div.buttons {
	
    margin-left: 7%;
    margin-top: 2%;
    margin-bottom: 10%;
    display: block;
    float: left;
    position: fixed;

  
}

.individualButton {
	width: 150%;
	padding: 5% 1%;
}


.buttons a {
	font-size: 2.8em;
	border-radius: 8px;
	border: 1px solid #01B6AD;
	background-color: #01B6AD;
	padding: 10% 0%;
	margin: 25% 4%;
	text-align: center;
	color: #fdf6ee;
	display: block;
	/*box-shadow: 5px 5px 1px #888888;*/
}
.buttons a:hover {
	box-shadow: none;
	border: 1px solid #388E8E;
}
.buttons a:active {
	background-color: #388E8E;
	border: 1px solid #388E8E;
}



.home p {
	display: block;
	font-size: 2.2em;
	font-weight: 300;
	color: black;
	width: 60%;
	margin-left: 21.5%;
	margin-right: auto;
	margin-top: 2%;
	letter-spacing: 2px;
	line-height: 145%;
	text-align: left;
	padding: 3%;
}

.home p:first-of-type:first-letter {
  float: left;
  font-size: 3.5em;
  /*line-height: 15%;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;*/
  font-weight: 500;
  margin-top: 2.9%;
  letter-spacing: 7px;
}
img {
	margin-left: 35%;

}

.homePicture {
	margin-left: 35%;
	border-radius: 3px;
	border: 5px solid gray;

}
footer {
	background-color: #F28500;
	width: 100%;
	position: absolute;
	margin-top: 4%;
}


footer h5 {
	display: inline;
	color: #fdf6ee;
	margin-right: 45%;
	margin-left: 25%;
	padding-top: 2%;
	font-size: 2em;
	font-weight: 500;
	letter-spacing: 2px;
	margin-bottom: 2%;
	width: 25%;
	float: left;
}
footer p {
	display: block;
	color: #fdf6ee;
	margin-top: 1%;
	font-size: 1.4em;
	margin-left: 25%;
	letter-spacing: 2px;
	width: 25%;

}

object {
	display: inline;
	float: right;
    margin-right: 25%;
    margin-top: -14%;
}

.last_p {
	padding-bottom: 3%;
}

.about {
	padding-bottom: 5%;
}
.about h2 {
	padding-top: 5%;
	/*padding-bottom: 3%;*/
	text-align: center;
	font-size: 4.2em;
	letter-spacing: 1px;
	font-weight: 300;
}

.aboutparagraphs {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	font-size: 1.8em;
	font-weight: 300;
	letter-spacing: 2px;
	padding-bottom: 3%;
}

#show-this-on-click {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	font-size: 1.8em;
	font-weight: 300;
	letter-spacing: 2px;
	padding-bottom: 3%;
}

.space {
	margin-top: 3%;
	margin-bottom: 3%;
}

.first_last {
	padding-bottom: 0%;
}

.readmore a, .readless a {
	font-size: 1em;
	margin-left: 47%;
	font-weight: bold;
	letter-spacing: 0px;
	color: black;

}

.hide {
  display: none;
}

.readless {
  display: none;
}


.about h4 {
	padding-top: 5%;
	/*padding-bottom: 3%;*/
	text-align: center;
	font-size: 4.2em;
	letter-spacing: 1px;
	font-weight: 300;
}


.about_ul li {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	font-size: 1.8em;
	font-weight: 300;
	letter-spacing: 2px;
	padding-bottom: 3%;
	color: black;
	display: block;
	list-style-type: circle;

}

.about_ol li {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	font-size: 1.8em;
	font-weight: 300;
	letter-spacing: 2px;
	padding-bottom: 3%;
	color: black;
	display: block;
	list-style-type: upper-roman;
}

.education {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	font-size: 1.8em;
	font-weight: 300;
	letter-spacing: 2px;
	padding-bottom: 3%;
}
.education h2 {
	padding-top: 5%;
	/*padding-bottom: 3%;*/
	text-align: center;
	font-size: 2.6em;
	letter-spacing: 1px;
	font-weight: 300;
}

.education h3 {
	padding-top: 2%;
	text-align: center;
	font-size: 1.6em;
	letter-spacing: 1px;
	font-weight: 500;
}
.education li {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	font-size: 1.0em;
	font-weight: 300;
	letter-spacing: 2px;
	padding-bottom: 3%;
	color: black;
	display: block;
	list-style-type: circle;
}

.education p {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	font-size: 1.0em;
	font-weight: 300;
	letter-spacing: 2px;
	padding-bottom: 3%;
	color: black;
	display: block;
	list-style-type: circle;
