/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

/**/

body {
	background-color: white;
	font-family:'Roboto', sans-serif;
	font-size: 10px;
}
header {
	width: 100%;
	padding-bottom: 1%;

}

header img {
	margin-top: 3%;
	margin-bottom: 1.5%;
	position: center;
	width: 30%;
	height: 30%;
}
/**/
nav {
	position: relative;
	background: #F28500;
	float: left;
	width: 100%;
}
nav > ul {
	text-align:center;
	margin-left: 12%;
}
li.current_page {
    display: inline-block;
    padding: 15px 25px;
    color: #fdf6ee;
    text-decoration: none;
    font-size: 2.0em;
}
nav ul li {
	float: left;
	/*display: inline;*/
	margin-left: 2.5%;
	margin-right: 3%;
	font-size: 1.4em;
}

nav ul li:hover {
	background: #ffdfcb;
}
nav ul li a {
	display:block;
	padding:15px 25px;
	color: #fdf6ee;
	text-decoration: none;
	font-size: 1.4em;
}
nav ul li ul {
	position:absolute;
	width: 200px;
	background:#FFF;
	border-left: 3px dotted black;
	border-right: 3px dotted black;
	border-bottom: 3px dotted black;
	box-shadow: 5px 5px 2px #888888;
}
nav ul li ul li {
	width: 100%;
/*    word-wrap: break-word;*/
    font-size: 1.4em;
    margin: 0;
}
nav ul li ul li a {
	display: block;
	padding:15px 18%;
	color: #444;
	text-decoration: none;
	width: 100%;
	text-align: left;
	font-size: 1em;
	background-color: #FFF;
	border-top: none;
	border-bottom: none;
}

nav ul li ul li:hover a {
	background: #ffdfcb;
	text-decoration: none;
}
nav ul li ul.fallback {
	display: none;
}
nav ul li:hover ul.fallback {
	display: block;
}

.not-active {
   pointer-events: none;
   cursor: default;
}

#button_js {
	margin-left: 2%;
  margin-top: 4%;
  height:7%;
}

aside {
	margin-top: 5%;
	margin-left: 3%;
  width: 12%;
  height:50px;
  color:white;
  text-decoration: none;
  box-shadow: 2px black;
}


a.button_links {
	display: block;
	color: black;
	text-decoration: none;
	font-size: 2.8em;
	background-color: #34ADB3;
	margin-top: 3%;
	margin-bottom: 15%;
	margin-left: 10%;
	padding-left: 10%;
	text-align: left;	
	border-radius: 3px;
	color: #fdf6ee;
	padding-top: 5%;
	padding-bottom: 5%;
}



aside.fixed {
  position:fixed;
  margin-top: -17%;
	margin-left: 3%;
  width: 12%;
  height:50px;
  color:white;
  text-decoration: none;
  box-shadow: 2px black;
}

.hidden {
	display: none;
	margin-top: 3%;
	margin-left: 31%;
	margin-right: 30%;
  width: 3%;
  /*height:50px;*/
  color:white;
  text-decoration: none;
  box-shadow: 2px black;

}

a.button_links_hidden {
	display: none;
	color: black;
	text-decoration: none;
	font-size: 2em;
	background-color: #34ADB3;
	margin-top: 3%;
	margin-bottom: 2%;
	/*margin-left: 10%;*/
	padding-left: 3%;
	padding-right: 3%;
	text-align: center;	
	border-radius: 3px;
	color: #fdf6ee;
	/*padding-top: 5%;
	padding-bottom: 5%;*/

}
div.buttons {
	
    margin-left: 7%;
    margin-top: 6%;
    margin-bottom: 10%;
    display: block;
    float: left;
    position: fixed;

  
}

.individualButton {
	width: 150%;
	padding: 5% 1%;
}


.buttons a {
	font-size: 2.8em;
	border-radius: 8px;
	border: 1px solid #34ADB3;
	background-color: #34ADB3;
	padding: 10% 0%;
	margin: 25% 4%;
	text-align: center;
	color: #34ADB3;
	display: block;
	text-decoration: none;
	/*box-shadow: 5px 5px 1px #888888;*/
}
.buttons a:hover {
	box-shadow: none;
	border: 1px solid #388E8E;
}
.buttons a:active {
	background-color: #388E8E;
	border: 1px solid #388E8E;
}



.home p {
	font-family: "helvetica";
	display: block;
	font-size: 1.8em;
	font-weight: 300;
	color: black;
	width: 65%;
	margin-left: 21.5%;
	margin-right: auto;
	margin-top: 0%;
	letter-spacing: 1px;
	line-height: 145%;
	text-align: left;
	padding-bottom: 3%;
	padding-top: 3%;
}

.home p:first-of-type:first-letter {
  float: left;
  font-size: 3.5em;
  /*line-height: 15%;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;*/
  font-weight: 500;
  margin-top: 1.7%;
  letter-spacing: 7px;
}
img {
	margin-left: 35%;

}

.homePicture {
	margin-left: 35%;
	border-radius: 3px;
	border: 5px solid gray;

}

.historyPicture {
	border-radius: 3px;
	border: 5px solid gray;
	margin-left: 24%;
}

.historyPicture2 {
	border-radius: 3px;
	border: 5px solid gray;
	margin-left: 24%;
	width: 342px;
	height: 340px;
}

.visionPicture {
	border-radius: 3px;
	border: 5px solid gray;
	margin-left: 33%;
	width: 410px;
	height: 280px;
	margin-bottom: 3%;
}

.boardofdirectors {
	margin-left: 32%; 
	border-radius: 3px;
	border: 5px solid gray;
	width: 440px;
	height: 280px;
	margin-top: 3%;
	margin-bottom : 3%;
}

.staffPicture {
	margin-left: 38%;
	border-radius: 3px;
	border: 5px solid gray;
	margin-top: 1%;
	margin-bottom: 2%;
}

.FSSpicture1 {
	margin-left: 30%;
	border-radius: 3px;
	border: 5px solid gray;
	margin-top: 1%;
	margin-bottom: 2%;
	width: 480px;
	height: 350px;
}

.studentpicture{
	margin-left: 18%;
	border-radius: 3px;
	border: 5px solid gray;
	margin-top: 5%;
	margin-bottom: 1%;
	width: 420px;
	height: 180px;
}

.schoolpicture {
	margin-left: 16%;
	border-radius:3px;
	border: 5px solid gray;
	margin-top: 1%;
	margin-bottom: 3%;
	width: 480px;
	height: 340px;
}
footer {
	background-color: #F28500;
	width: 100%;
	position: absolute;
	margin-top: 4%;
}


footer h5 {
	display: inline;
	color: #fdf6ee;
	margin-right: 45%;
	margin-left: 25%;
	padding-top: 2%;
	font-size: 2em;
	font-weight: 500;
	letter-spacing: 2px;
	margin-bottom: 2%;
	width: 25%;
	float: left;
}
footer p {
	display: block;
	color: #fdf6ee;
	margin-top: 1%;
	font-size: 1.4em;
	margin-left: 25%;
	letter-spacing: 2px;
	width: 25%;

}

object {
	display: inline;
	float: right;
    margin-right: 25%;
    margin-top: -14%;
}

.last_p {
	padding-bottom: 3%;
}

.about {
	margin-top: 0%;
	padding-bottom: 5%;
		
}
.about h2 {
	padding-top: 1.8%;
	/*padding-bottom: 3%;*/
	text-align: center;
	font-size: 4.2em;
	letter-spacing: 1px;
	font-weight: 300;
}

.aboutparagraphs {
		font-family: "helvetica";
		font-size: 1.8em;
		font-weight: 300;
		width: 65%;
		margin-left: 21.5%;
		margin-right: auto;
		margin-top: 0%;
		letter-spacing: 1px;
		line-height: 145%;
		text-align: left;
		padding-bottom: 3%;
		padding-top: 3%;
}

.aboutparagraphsB {
		font-family: "helvetica";
		font-size: 1.8em;
		font-weight: 500;
		text-decoration: underline;
		width: 65%;
		margin-left: 21.5%;
		margin-right: auto;
		margin-top: 0%;
		letter-spacing: 1px;
		line-height: 145%;
		text-align: left;
		padding-bottom: 0%;
		padding-top: 3%;
}
.aboutparagraphs:first-of-type:first-letter {
  float: left;
  font-size: 3.5em;
  font-weight: 500;
  margin-top: 1.9%;
  letter-spacing: 7px;
}
#show-this-on-click, #show-this-on-click2, #show-this-on-click3 {
	font-family: "helvetica";
	font-size: 1.8em;
	font-weight: 300;
	width: 65%;
	margin-left: 21.5%;
	margin-right: auto;
	margin-top: 0%;
	letter-spacing: 1px;
	line-height: 145%;
	text-align: left;
	padding-bottom: 3%;
}

#show-this-on-click3 {
	font-family: "helvetica";
	font-size: 1.8em;
	font-weight: 300;
	width: 55%;
	margin-left: 22.5%;
	margin-right: auto;
	margin-top: 0%;
	letter-spacing: 1px;
	line-height: 145%;
	text-align: center;
	padding-bottom: 3%;







}
.br_showmore {
   display: block;
   margin: 3% 0;
   content: " ";
}

.space {
	margin-top: 3%;
	margin-bottom: 3%;
}

.first_last {
	padding-bottom: 0%;
}

.readmore a, .readless a, .readmore2 a, .readless2 a, .readmore3 a, .readless3{
	font-size: 1em;
	margin-left: 80%;
	font-weight: bold;
	letter-spacing: 0px;
	color: black;

}

.hide, .hide2, .hide_ul2, .hide3 {
  display: none;
}

.readless, .readless2, .readless3 {
  display: none;
}


.about h4 {
	padding-top: 5%;
	/*padding-bottom: 3%;*/
	text-align: center;
	font-size: 4.2em;
	letter-spacing: 1px;
	font-weight: 300;
}


.about_ul li {
	font-family: "helvetica";
	text-align: center;
	margin-left: 22.5%;
	margin-right: auto;
	margin-top: 0%;
	width: 55%;
	font-size: 1.8em;
	font-weight: 300;
	letter-spacing: 1px;
	padding-bottom: 2%;
	color: black;
	display: block;
	list-style-type: circle;
	line-height: 145%;
}
.about_ul li:first-of-type {
	padding-top: 3%;
}

.about_ol li {
	margin-left: 21.5%;
	text-align: left;
	margin-right: auto;
	width: 65%;
	font-size: 1.8em;
	font-weight: 300;
	letter-spacing: 1px;
	padding-bottom: 3%;
	color: black;
	display: block;
	line-height: 145%;
}
.about_ol li:first-of-type {
	padding-top: 3%;
}
.education {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	font-size: 1.8em;
	font-weight: 300;
	letter-spacing: 2px;
	padding-bottom: 3%;
}
.education h2 {
	padding-top: 5%;
	/*padding-bottom: 3%;*/
	text-align: center;
	font-size: 2.6em;
	letter-spacing: 1px;
	font-weight: 300;
}

.education h3 {
	padding-top: 2%;
	text-align: center;
	font-size: 1.6em;
	letter-spacing: 1px;
	font-weight: 500;
}
.education li {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	font-size: 1.0em;
	font-weight: 300;
	letter-spacing: 2px;
	padding-bottom: 3%;
	color: black;
	display: block;
	list-style-type: circle;
}

.education p {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	font-size: 1.0em;
	font-weight: 300;
	letter-spacing: 2px;
	padding-bottom: 3%;
	color: black;
	display: block;
	list-style-type: circle;
}
.aboutvision {
		font-family: "helvetica";
		font-size: 2em;
		font-weight: 500;
		font-style: italic;
		width: 65%;
		margin-left: 26%;
		margin-right: auto;
		margin-top: 0%;
		letter-spacing: 1px;
		line-height: 145%;
		text-align: left;
		
		padding-top: 3%;
}

.board_ul {
	margin-bottom: 3%;
}

.directors h2 {
	padding-top: 1.8%;
	/*padding-bottom: 3%;*/
	text-align: center;
	font-size: 4.2em;
	letter-spacing: 1px;
	font-weight: 300;

}
.directors p {
	font-family: "helvetica";
	text-align: center;
	margin-left: 20%;
	margin-right: auto;
	margin-top: 0%;
	width: 60%;
	font-size: 1.8em;
	font-weight: 500;
	letter-spacing: 1px;
	padding-bottom: 3%;
	color: black;
	display: block;
	list-style-type: circle;
	line-height: 145%;
}

.staff h2, h3 {
	padding-top: 1.8%;
	text-align: center;
	font-size: 4.2em;
	letter-spacing: 1px;
	font-weight: 300;
}

.staff p, .staffmembers {
	font-family: "helvetica";
	text-align: left;
	margin-left: 21.5%;
	margin-right: auto;
	margin-top: 3%;
	width: 65%;
	font-size: 1.8em;
	font-weight: 300;
	letter-spacing: 1px;
	padding-bottom: 3%;
	color: black;
	display: block;
	/*list-style-type: circle;*/
	line-height: 145%;
}

.staff p:first-of-type:first-letter {
  float: left;
  font-size: 3.5em;
  /*line-height: 15%;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;*/
  font-weight: 500;
  margin-top: 1.7%;
  letter-spacing: 7px;
}

.staffmembers li {
	padding: 1% 0%;
	line-height: 145%;
}

/*.hide_ul li {
	font-family: "helvetica";
	text-align: left;
	margin-left: 21.5%;
	margin-right: auto;
	margin-top: 0%;
	width: 65%;
	font-size: 1.8em;
	font-weight: 300;
	letter-spacing: 1px;
	padding-bottom: 2%;
	color: black;
	display: block;
	list-style-type: circle;
	line-height: 145%;
}*/

#show-this-on-click2 {
	font-family: "helvetica";
	font-size: 1.8em;
	font-weight: 300;
	width: 65%;
	margin-left: 21.5%;
	margin-right: auto;
	margin-top: 0%;
	letter-spacing: 1px;
	line-height: 145%;
	text-align: left;
	padding-bottom: 3%;
}

.subtitle {
	font-size: 2.4em;
	font-weight: 500;
	font-style: italic;
}

h4.subtitle2 {
	font-size: 2.4em;
	font-weight: 500;
}

h5 {
	font-size: 2.4em;
	font-weight: 500;
	width: 65%;
	margin-left: 21.5%;
}

.aboutparagraphs2 {
		font-family: "helvetica";
		font-size: 1.8em;
		font-weight: 300;
		width: 65%;
		margin-left: 21.5%;
		margin-right: auto;
		margin-top: 0%;
		letter-spacing: 1px;
		line-height: 145%;
		text-align: left;
		padding-bottom: 1%;
		padding-top: 1%;
}

.volunteering {
	font-family: "helvetica";
		font-size: 1.8em;
		font-weight: 300;
		width: 65%;
		margin-left: 21.5%;
		margin-right: auto;
		margin-top: 0%;
		letter-spacing: 1px;
		line-height: 145%;
		text-align: left;
		padding-bottom: 1%;
		padding-top: 1%;
}

.fss_ul {
	margin-left: 40%;
	font-family: "helvetica";
		font-size: 1.8em;
		font-weight: 300;
		width: 65%;
		margin-right: auto;
		margin-top: 0%;
		letter-spacing: 1px;
		line-height: 145%;
		text-align: left;
		padding-bottom: 0%;
		padding-top: 0%;
}

span {
	line-height: 200%;
	
}

.br_showmore2 {
   display: block;
   margin: 2% 0;
   content: " ";
}

.br_showmore3 {
   display: block;
   margin: 3% 0;
   content: " ";

}

.volunteer_opps, h5.volunteer_opps {
	margin-top: 3%;
	padding-top: 1.8%;
	text-align: center;
	font-size: 3.0em;
	letter-spacing: 2px;
	font-weight: 300;
}

h4.volunteer_opps2 {
	margin-top: 3%;
	padding-top: 1.8%;
	text-align: center;
	font-size: 3.0em;
	letter-spacing: 2px;
	font-weight: 300;
}

	.header_hidden {
		display: none;
	}
	.menu {
		display: none;
	}



#pancake-menu {
	float:right;
	margin: -12% 1% 0 0;
	display: none;

	}

.pancake {
	background-color: rgb(242, 133, 0);
	height: 5px;
	margin: 3px 0px 0px;
	width:40px;
	border-radius: 3px;
	}
/***** Media Queries *****/




@media screen and (min-width: 820px) and (max-width: 1110px)  {
	nav ul li {
		margin-left: 0%;
		margin-right: 0%;
	}


}

@media screen and (min-width: 670px) and (max-width: 820px) {
	nav ul li {
		font-size: 1em;
		margin-left: 0%;
		margin-right: 0%;
	}
	li.current_page {
		font-size: 1.4em;
	}
	object {
		display: none;
	}
	footer h5 {
		margin-left: 38%;
		text-align: center;
		
	}
	footer p {
		margin-left: 38%;
		text-align: center;
	}
	aside {
		display: none;
	}
	a.button_links {
		display: none;
	}
	aside.fixed {
  		display: none;
	}
	a.button_links {
		display: none;
	}
	.home p {
		margin-left: 18%;
	}
	.aboutparagraphs {
		margin-left: 18%;
	}
	#show-this-on-click, #show-this-on-click2, #show-this-on-click3 {
		margin-left: 18%;
	}

	#show-this-on-click3 {
		margin-left: 23%;
	}
	.hidden {
		display: inline;
	}

	.aboutvision {
		margin-left: 18%;
		text-align: center;
	}
	a.button_links_hidden {
		display: inline;
	}
	.homePicture {
    	margin-left: 25%;
	}
	.historyPicture {
		margin-left: 15%;
	}
	.historyPicture2 {
		margin-left: 15%;
	}
	.visionPicture {
		margin-left: 23%;
	}
	.studentpicture {
		margin-left: 7%;
	}
	.FSSpicture1 {
		margin-left: 18%;
	}
	.schoolpicture {
		margin-left: 1%;
	}
	.boardofdirectors {
		margin-left: 21%;
	}
	.staffPicture {
		margin-left: 29%;
	}
	h5 {
    margin-left: 18%;
	}

	.aboutparagraphs2 {
		margin-left: 18%;
	}
	.staff p {
		margin-left: 18%;
	}
	.staffmembers li {
		margin-left: -3%;
	}
	/*.header_hidden {
		display: none;
	}
	.menu {
		display: none;
	}*/


}


@media screen and (max-width: 670px) {
		aside {
		display: none;
	}
	a.button_links {
		display: none;
	}
	aside.fixed {
  		display: none;
	}
	a.button_links {
		display: none;
	}
	.hidden {
		display: inline-block;
	}
	a.button_links_hidden {
		display: inline-block;

	}

	/*nav ul li a{
		color: black;
		font-size: .4em;
		display: block;
		margin-left:0px;
		margin-right:0px;
		text-align: left;		
	}*/

	li.current_page {
		font-size: .6em;
		color: black;
		margin-left:0px;
		margin-right:0px;
	}
	nav {
		height: 25%;
		padding-bottom: %;
	}

	/*nav ul {
		width: 40px;
		margin-top: -20%;
	}*/
	a.button_links_hidden {
		display: inline;
		font-size: 1.4em;
	}
	object {
		display: none;
	}

	footer {
		width: 100%;
	}
	footer h5 {
		margin-left: 38%;
		text-align: center;
		font-size: 1.6em;
	}
	footer p {
		margin-left: 38%;
		text-align: center;
		font-size: 1.1em;
	}

	#pancake-menu {
		display: block;
		position: fixed;
		margin-left: 2%;

	}
	/*nav ul {
	font-size: 2em;
	height: 0px;
	float:left;
	margin-top: 50px;
	margin-left: 5px;
	margin-bottom: 20px;
	}*/


	.switch {
	clear:both;
	height: auto;
	display: block;
	}

	nav ul {
		width:30%;
		margin-left: 0%;
		margin-top: 2%;
		display: none;
	}

	nav ul .switch {
		display: block;
		width: 100%;
	}

	nav > ul {
		width: 100%;
	}
	nav ul li {
		font-size: .8em;
		margin-left: 0%;
		margin-right: 0%;
		text-align: left;
		width: 100%;
		
	}

	nav ul li:hover {
		background-color: #F46208;
	}

	nav ul li ul {
		position: relative;
		width: 100%;
		border: none;
		box-shadow: none;



	}
	/*.switch {
	clear:both;
	height: auto;
	display: block;
	}*/

	li.current_page {
		font-size: 1.1em;
		color: #fdf6ee;
	}

	.home p {
		font-size: 1.2em;
	}

	.aboutparagraphs {
		font-size: 1.2em;
	}

	#show-this-on-click, #show-this-on-click2, #show-this-on-click3 {
		font-size: 1.2em;
	}
	.homePicture {
		width: 35%;
		height: 20%;
	}
	.historyPicture {
		width: 70%;
		height: 45%;
		margin-left: 10%;
	}

	.historyPicture2 {
		width: 60%;
		height: 45%;
		margin-left: 15%;
	}

	.visionPicture {
		width: 45%;
		height: 30%;
		margin-left: 28%;
	}

	.studentpicture {
		width: 80%;
		height: 60%;
		margin-left: 7%;
	}
	.FSSpicture1 {
		width: 50%;
		height: 30%;
		margin-left: 25%;
	}

	.schoolpicture {
		width: 70%;
		height: 50%;
	}

	.boardofdirectors {
		width: 60%;
		height: 40%;
		margin-left: 20%;
	}

	.staffPicture {
		width: 50%;
		height: 30%;
		margin-left: 25%;
	}
	.aboutvision {
		font-size: 1.4em;
		text-align: center;
		margin-left: 18%;
	}
	.fss_ul li {
		font-size: .8em;
		margin-left: -15%;
	}
	.about_ul li {
		font-size: 1.2em;
	}

	.about_ol li {
		font-size: 1.2em;
	}

	.subtitle {
		font-size: 1.8em;
	}

	.about h2 {
		font-size: 3.0em;
		margin-top: 5%;
	}
	h3 {
font-size: 3.4em;
		margin-top: 5%;

	}
h5 {
		font-size: 2.0em;
		margin-top: 1%;
	}

.about h4 {
	font-size: 3.0em;
}
	.aboutparagraphs2 {
		font-size: 1.2em;
	}
	.directors p {
		font-size: 1.4em;
	}

	.staff p {
		font-size: 1.2em;
	}

	.staffmembers li {
		font-size: .8em;
	}

	ul.volunteering {
		font-size: 1.2em;
	}

	.directors h2 {
		font-size: 3.0em;
	}
	.staff h2, h3 {
		font-size: 3.0em;
	}
	h4 .giving {
		font-size: 3.0em;
	}
}


